body {
  background-color: peru;
}
.father {
  width: 200px;
  height: 200px;
  background-color: red;
  position: absolute;
  left: 400px;
  top: 50px;
  animation: 1.5s First infinite ease-in-out;
}

@keyframes First {
  0% {
    transform: none;
  }
  50% {
    transform: rotate(1turn) scale(0.5);
  }
  100% {
    transform: none;
  }
}
