html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
body {
  height: 400%;
  background-color: red;
}
#boxOne {
  height: 300px;
  width: 300px;
  background-color: yellow;
}
#boxTwo {
  height: 300px;
  width: 300px;
  background-color: green;
  position: fixed;
}
.box-child {
  height: 100px;
  width: 100px;
  position: absolute;
  background-color: pink;
  right: 0;
}
